// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.dashboard__message-user .message-body {
    padding: 0px 24px;
    height: 700px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}
